@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #fffb876e;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.548);
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_btn {
  z-index: 99;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
